snippet v "Vue Base Code Block"
<template>
  
</template>

<script>
${0}
export default {

}
</script>

<style lang="scss" scoped>

</style>
endsnippet
snippet h "HTML Block" b
<template>
  ${0}
</template>
endsnippet
snippet js "JS Block" b
<script>
${0}

export default {
  data() {
    return {

    }
  }
}
</script>
endsnippet
snippet scss "scss block"

<style lang="scss" scoped>
${0}
</style>
endsnippet
